.msgContainer {
  position: fixed;
  top: 90px;
  right: 20px;
  min-width: 200px;
  padding: 10px;
  background: var(--primary);
  border-radius: var(--border-radius);
  border: 2px solid var(--color);
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-in-out;
  z-index: 7;
}

.msgContainer.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  right: 20px;
}

.progressBar {
  margin-top: 10px;
  height: 5px;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.progress {
  height: 100%;
  background: var(--color);
  transition: width 0.1s linear;
}
