.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  /* font-weight: 500; */
  color: var(--color-text--1);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.logo span {
  color: green;
}